<div style="display: flex;justify-content: center;align-items: center;height: 50vh;">
<div class="card" style="min-width: 18rem;max-width: 600px;">
    <div class="card-body">
      <h5 class="card-title">Succesful</h5>
      <p>Job added Succesfully go to the jobs page and find there</p>
      <a href="/jobseeker1" class="btn btn-primary">Go to jobs</a>
    </div>
</div>