<div style="display: flex;justify-content: center;align-items: center;height: 50vh;">
    <div class="card" style="min-width: 18rem;max-width: 600px;">
        <div class="card-body">
          <h5 class="card-title">Job applied</h5>
          <p>Job applied Succesfully, recruiter will get in touch with you soon</p>
          <a href="/jobseeker" class="btn btn-primary">Go to jobs</a>
        </div>
</div>