<div class="container" style="display: flex;flex-wrap: wrap;">
  <div class="card"
    style="width: 25rem;margin: auto;margin-top: 10px;height: 25rem;padding-top: 10px;background-color: #1c124a ; position: relative; top: 80px;">
    <div class="card-body">
      <h1 style="color:yellow;">Best Platform for job seeker and Recruiter</h1>
      <h5 style="color: white; line-height: 25px;">Easily, helps job seeker to find a best job and it also helps to
        recruiter to get best employee for their bussiness role</h5>
      <span><a class="btn btn-outline-warning" href="/jobseeker" role="button" style="margin-right: 5px;margin-top: 10px;">I'm job seeker</a><a class="btn btn-outline-warning" href="/jobseeker1" role="button" style="margin-top: 10px;">I'm recruiter</a></span>
    </div>
  </div>
  <div class="card"
    style="width: 25rem;margin:auto;margin-top: 10px;height: 25rem;background-color: #1c124a;padding-top: 10px;">
    <div class="card-body">

      <img src="https://cdn.pixabay.com/photo/2022/01/22/01/54/digital-nomad-6956070_1280.png" class="img-fluid"
        alt="..." style="background-color: #1c124a;">
    </div>
  </div>
</div>