<h1 style="color: white;margin-top: 20px;margin-left: 5vw;margin-bottom: 40px;">Post new Job</h1>
<form style="min-width: 17rem;margin: auto;max-width: 600px;padding-left: 10px;padding-right: 10px;" action="/new" method="post">
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label" style="color: white;">Job title</label>
      <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="title" required>
      
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label" style="color: white;">Description</label>
      <input type="text" class="form-control" id="exampleInputPassword1" name="description" required>
      
    </div>
    <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label" style="color: white;">Location</label>
        <input type="text" class="form-control" id="exampleInputPassword1" name="location" required>
      </div>
      <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label" style="color: white;">Salary per month</label>
        <input type="number" class="form-control" id="exampleInputPassword1" name="salary" required>
      </div>
      <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label" style="color: white;">Company Name</label>
        <input type="text" class="form-control" id="exampleInputPassword1" name="company" required>
      </div>
    
    <button type="submit" class="btn btn-primary">Submit</button>
</form>